<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">
    <div layout:fragment="mainContentPage">
        <div class="row mt-3">
            <div class="col-6 mx-auto">
                <form th:action="@{'/projectdetails/{id}/addtask'}" method="post" th:if = "${project!=null}">
                    <div class="row">
                        <div class="col-12">
                            <label th:text="${project.getName()}"></label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <input type="hidden" class="form-control" name="projectId" placeholder="Insert task" th:value="${project.getId()}" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label>Task name : </label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <input type="text" class="form-control" name="name" placeholder="Insert task">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label>Status : </label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <input list="statuses" class="form-control" name="status">
                            <datalist id="statuses">
                                <option value="ToDo">
                                <option value="InProgress">
                                <option value="Done">
                            </datalist>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <label>Task description : </label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <input type="text" class="form-control" name="description" placeholder="Insert description">
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-12">
                            <label>Priority : </label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <input type="text" class="form-control" name="priority" placeholder="Insert priority">
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-12">
                            <button class="btn btn-success">ADD TASK</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</html>